.shopList{
    border: 1px solid #E5E5E5;
    border-collapse:collapse;
    cursor: pointer;
}
.shop-info{
    height: 100%;
    text-align: left;
    padding-left: 20px;
    
}
.shop-info p{
    padding-top:50px;
}
.shop-info span{
    display: block;
    font-size: 14px;
}